body {
  font-family: Helvetica, sans-serif;
  background: url('../img/bg-body.png') repeat;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 140px;
  height: 140px;
  margin: 20px auto;
}

.toggle-nav {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;

  background-color: #666;
}

.main-nav ul {
  padding: 0;
  list-style: none;
}

.main-nav li {
  display: block;
  width: 100%;
  padding: 20px 10px;
  margin-bottom: 1px;
  background-color: #666;
}

.main-nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.banner img {
  min-width: 100%;
}



@media (min-width: 768px) {
  .toggle-nav {
    display: none;
  }

  .main-nav ul {
    text-align: center;
  }
  .main-nav li {
    display: inline-block;
    width: auto;
    padding: 20px 20px;
  }
}

@media (min-width: 1024px) {
  .main-nav li {
    padding: 20px 40px;
  }
}
