body {
  font-family: Helvetica, sans-serif;
  background: url('../img/bg-body.png') repeat;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.rounded-logo {
  display: block;
  overflow: hidden;
  width: 140px;
  height: 140px;
  margin: 20px auto;
  border-radius: 100%;
  box-shadow: 0 0 1px 1px #999;
}

.toggle-nav {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;

  background-color: #666;
}

.main-nav ul {
  padding: 0;
  list-style: none;
}

.main-nav li {
  display: block;
  width: 100%;
  padding: 20px 10px;
  margin-bottom: 1px;
  background-color: #666;
}

.main-nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.banner img {
  min-width: 100%;
  max-width: 100%;
}

.product {
  padding: 10px 0;
}

.product p {
  margin: 0 0 20px;
}

.photo-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.photo-container .photo {
  min-width: 100%;
}

.photo-container .special {
  position: absolute;
  top: 0;
  right: 20px;
}

.photo-container .zoom {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 20px 20px;

  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: rgba(0, 0, 0, 0.6);
}

.more {
  padding: 10px 10px;

  color: #fff;
  text-align: center;
  text-decoration: none;

  background-color: #666;
}

.main-footer {
  background-color: #fff;
}

.main-footer ul {
  padding: 0;
  list-style: none;
}

.main-footer li {
  display: block;
  width: 100%;
  padding: 20px 10px;
  margin-bottom: 1px;
  background-color: #b82519;
}

.main-footer a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}


@media (min-width: 768px) {
  .toggle-nav {
    display: none;
  }

  .main-nav ul {
    text-align: center;
  }
  .main-nav li {
    display: inline-block;
    width: auto;
    padding: 20px 20px;
  }

  .vip-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product {
    width: 49%;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0;
  }

  .main-nav li {
    padding: 20px 40px;
  }

  .product {
    width: 33%;
  }

  .main-footer {
    margin-top: 60px;
    padding: 40px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    background-color: #b82519;
  }

  .main-footer li {
    display: inline-block;
    width: auto;
    padding: 0;
  }

  .main-footer li::after {
    content: ' |';
    color: #fff;
  }

  .main-footer li:last-child::after {
    content: '';
  }
}
